
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid black;
    width: 30px;
    height: 30px;
}
.container div{
    border: 1px solid black;
    width: 27.5%;
    height: 9px;
}
